.loading {
  border: 20px solid #f3f3f3;
  border-top: 20px solid;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: darkgray;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
